<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <!--
      To enable ANSI support on Windows  add the Jansi jar to your application and Log4j
      will automatically make use of it when writing to the console. Note that Unix-based
      support ANSI color codes by default.
      -->
      <PatternLayout pattern="%highlight{[%-5level] %msg%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=magenta}"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="all">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>